{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    <form action="/register" method="post" class="mt-3">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <div class="text-center mb-3">
            <button class="btn btn-primary text-center" type="submit">Register</button>
        </div>
    </form>
{% endblock %}
